@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

.masthead {
    background-color: #99cccc;
    overflow: hidden;
}

.logo {
    height: 4rem;
    width: auto;
    margin: .5rem 5%;
}

.billboard {
    overflow: hidden;
    background-image: url(../images/banner.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

article {
    margin: 0; 
    padding: 0 5%;
    overflow: hidden;
}

h1 {
    margin: 8rem 0 1rem 0; 
    background-color: rgba(255, 204, 153, .6);
    font-family: Franklin Gothic Medium, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.25rem;
    color: white;
    letter-spacing: -.05rem;
    text-transform: uppercase;
    padding: 0.25rem 5%;
    text-shadow: .15rem .15rem .05rem rgba(255, 102, 102, .8);
}

h1 span {
    color: #cc3333;
    text-shadow: .15rem .15rem .05rem rgba(255, 255, 255, .8);
}

h2 {
    color: #cc3333; 
    font-size: 1.rem;
    line-height: .5rem;
}

h2 span {
    font-size: 1rem;
    color: #99cccc;
    font-weight: 300;       
}

p {
    font-size: 1rem;
    font-family: Calibri, Tahoma, sans-serif;
    line-height: 1.25rem;
}

p span {
    color: #ff6666;
    text-decoration:inherit;
}

h3 {
    color: #cc3333;
    font-weight: 500;
    line-height: .5rem;
}

summary {
    color: #ff6666;
}

h4 {
    margin: 1rem -6%; 
    background-color: #ff6666;
    font-family: Franklin Gothic Medium, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2.25rem;
    color: white;
    text-transform: uppercase;
    padding: 0.25rem 8%;
}

h5 {
    margin: 2rem 0rem 2rem 0;
    padding: 0.25rem 10%;
    background-color: #99cccc;
    font-family: Franklin Gothic Medium, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2.25rem;
    color: white;
    text-transform: uppercase;
}

blockquote {
    margin: 0; 
    padding: 0 0 0 10%;
    overflow: hidden;
}

blockquote p {
    font-size: 1rem;
}

blockquote span {
    font-weight: bold;
    float: right;
    margin: .5rem 0;
}

blockquote p:before {
    content: "“";
    font-size: 5rem;
    font-family: serif;
    color: #99cccc;
    float: left;
    margin: 1rem 0 0 -2rem; 
}

blockquote p:after {
    content: "”";
    font-size: 2rem;
    font-family: serif;
    position: absolute;
    color: #99cccc;
    margin: .2rem 0 0;
}

figure {
    margin: 0 auto 1.5rem;
    width: 80%;
} 

figcaption {
    margin: .25rem;
    font-size: .75rem;
    text-align: center;
    color: #ffcc66;
} 

ul li {
    margin: .25rem -5%;
    color: #99cccc;
}

li span {
    color: #ff6666;
}

footer {
    padding: 1rem 5%;
    background-color: #99cccc;
    overflow: hidden;
    color: white;
}